.container {
  width: 80vw;
  max-width: 90%;
  margin: 2rem auto;
  background-color: transparent;
  padding: 2rem 2rem;
  border-radius: 0.2rem;
}

.longDesc {
  margin-top: 2rem;
  width: 60vw;
  text-align: justify;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.projectName svg {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: baseline;
}

.titleSect {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 55%;
  margin: 1.2rem auto;
  justify-content: center;
}

.slider {
  margin: 4rem auto;
  width: 80%;
  text-align: center;
}

.gridInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  margin: 0;
  justify-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.gridInfo .childGridInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridInfo .childGridInfo span:first-child {
  color: var(--text-very-muted);
}

.gridInfo .childGridInfo span:last-child {
  font-size: 2.2rem;
  margin: 0.5rem;
}

.paused {
  color: var(--warning);
}

.completed {
  color: var(--success);
}

.production {
  color: #6374f5;
}

.development {
  color: #63f5e6;
}

.moreInfo {
  margin-top: 5rem;
}

.modeInfoBar {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-700);
  color: var(--text-muted);
  cursor: pointer;
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 2rem 2rem 0 0;
}

[data-theme='light'] .modeInfoBar {
  background-color: var(--gray-800);
}

.info {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 2rem;
}

.show {
  max-height: 100%;
  opacity: 1;
}

.slide {
  margin: 2rem auto;
  text-align: center;
}

.slide img {
  object-fit: contain;
  width: 80%;
  height: 40rem;
}

.tecnologies {
  margin: 0.5rem;
  max-width: 20rem;
  text-align: center;
}

.tecnologies img {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0.5rem;
}

.contentMoreInfo h4 {
  text-align: center;
  font-size: 2rem;
}

.flexInfo {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
}

.flexInfo p {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--text-muted);
}

.flexInfo ul li {
  list-style: disc;
  font-size: 1.4rem;
}

.tags {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-very-muted);
}

@media (max-width: 500px) {
  .titleSect {
    font-size: 1.2rem;
    width: 80%;
  }

  .container {
    width: 100vw;
    max-width: 100%;
  }

  .longDesc {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 95%;
  }

  .slider {
    width: 100%;
  }

  .slide {
    margin: 1rem auto;
    text-align: center;
  }

  .slide img {
    width: 100%;
    height: 25rem;
  }

  .flexInfo {
    margin-left: 4rem;
    display: block;
  }

  .flexInfo ul {
    margin-top: 2rem;
  }
}
