.responsividade {
    display: none;
    text-align: center;
    padding: 2em;
    padding-top: 8rem;
    background-color: rgba(84, 252, 54, 0.472);
}

.responsividade h1 {
    font-weight: bold;
    font-size: 60px;
    color: red;
    text-decoration: underline;
    padding-bottom: 10px;
}

.responsividade p {
    font-size: 30px;
    padding-bottom: 5px;
}