@import url(responsividade-style_temporario.css);
@import url(styles-for-mobile.css);

:root {
    --color-background-body: #ffffff;
    --default-white: #fff;
    --default-black: #000;
    --color-title-section: #3b69ff;
    --background-color-home: linear-gradient(to left, rgba(183, 214, 204, .7) 0%, rgba(62,94,221,.95) 45%, rgba(0,0,0,.6) 100%);
    --background-header: linear-gradient(90deg, rgba(0,27,52,1) 0%, rgba(4,0,77,1) 45%, rgba(0,0,128,1) 100%);
    --background-header-scroll: linear-gradient(to left, rgba(183, 214, 204, .7) 0%, rgba(62,94,221,.95) 45%, rgba(0,0,0,.6) 100%);
    --color-backgound-sections: #e7e7e7;
    --color-backgound-sections-title: #23303f;
    --color-backgound-sections-cards: linear-gradient(to right, #a7c6ff, #f5f5f5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-background-body);
    font-size: 62,5%;
}

body {
    font-family: 'Heebo', sans-serif;
    background: var(--default-white);
    overflow-x: hidden;
}

marquee {
    padding-top: 10px;
    color: red;
}

.header-top {
    background: var(--background-header);
    position: fixed;
    color: var(--default-white);
    padding: 3rem 0 3rem 3rem;
    width: 100%;
    height: 10rem;
    text-align: left;
    top: 0;
    left: 0;
}

.my-photo-div {
    position: absolute;
    top: 0;
    right: 0;
}

.my-photo-div img {
    max-width: 200px;
    float: right;
}

.header-scroll {
    display: none;
    position: fixed;
    background: var(--background-header-scroll);
    height: 3rem;
    padding: 1rem 0;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.links {
    text-decoration: none;
    padding: 0.4em 1em;
    color: var(--default-white);
}

.links:hover,
.links:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-mobile {
    display: none;
}

.menu-links-img {
    background-color: var(--default-white);
    border-radius: 50%;
    width: 10vw;
    position: fixed;
    top: 1rem;
    right: 0.5rem;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
}


.back-to-top a {
    font-size: 3rem;
    background-color: var(--default-white);
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    border: 1px solid black;
}

.home {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: var(--color-backgound-sections);
    padding: 1rem 0 0 1rem;
    background-image: url(../imgs/home-bg.svg);
    background-size: cover;
    background-position: center center;
}

.name .eu_sou {
    font-size: 18px;
}

.name .endryus_daniel {
    font-family: 'Qwitcher Grypen';
    font-size: 150px;
    color: #091983;
}

.boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    font-size: 24px;
}

.home a {
    background-color: blue;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    transition: all 150ms ease-out;
    margin-top: 1rem;
}

.home a:hover {
    background-color: #4E65FF;
    color: var(--default-black);
}

.convite {
    max-width: 320px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.flex_minha-foto {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.minha-foto {
    max-width: 320px;
    width: 40vw;
    max-width: 37rem;
    min-width: 20rem;
}

.section-default-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin: 1rem 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../imgs/about-bg.svg);
    background-position: center center;
    background-size: cover;
}

.title-section {
    font-family: 'Oswald';
    text-align: center;
    margin-bottom: 40px;
    font-size: 3vw;
    width: 30vw;
    padding: 10px;
    background-color: var(--color-backgound-sections-title);
    border: 2px transparent;
    color: var(--default-white);
    border-radius: 10px;
    text-decoration: underline;
    box-shadow: 5px 7px 5px black;

}

.grid-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dados-pessoais, .cursos, .formacoes, .one-more {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    width: 35vw;
    margin: 1rem;
    padding: 1rem;
    border: 1px transparent;
    border-radius: 10px;
    color: var(--default-black);
    background: var(--color-backgound-sections-cards);
    font-size: 1.5rem;
    box-shadow: 7px 5px 10px black;
    transition: all 150ms;
}

.dados-pessoais h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.dados-pessoais ul {
    list-style: none;
}

.dados-pessoais ul li {
    display: flex;
    align-items: center;
}

.icons-personal-datas {
    width: 1.5rem;
    margin-right: 0.3rem;
    text-align: center;
}


.dados-pessoais mark {
    background-color: transparent;
    font-weight: bold;
    padding: 0.2rem;
}

.dados-pessoais:hover, 
.cursos:hover, 
.formacoes:hover, 
.one-more:hover {
   background-color: #e9efff;
}

.formacoes h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.cursos {
    width: 80vw;
}

.cursos h3 {
    text-align: center;
    padding-bottom: 1rem;    
}

data-cursos-termino {
    color: #7f92e6;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}

.img-courses-h4 {
    width: 25px;
    text-align: center;
    margin-right: 4px;
}

.cursos h4 {
    padding-bottom: 1rem;    
}

.grid-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 30px;
}

.grid-courses div {
    background-color: #eee;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 3px 5px 10px black;
}

.grid-courses div h4 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.grid-courses p {
    padding-bottom: 10px;
    text-indent: 2rem;
}

.courses-ver {
    padding: 3px;
    box-shadow: 1px 1px 3px black;
    font-weight: bold;
    cursor: pointer;
    margin: 0.6rem;
    border: transparent;
    border-radius: 0.3rem;
    background-color: #ababab;
}

.concluido {
    display: flex;
    align-items: center;
}

.courses-ver:hover,
.courses-ver:focus {
    background-color: #fff;
}

.lista-de-formacoes {
    list-style: "→ " ;
    padding-left: 22px;
}

.one-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 20px;
    width: 80vw;
}

.one-more h3 {
    padding-bottom: 1rem;

}

.one-more p {
    padding-bottom: 5px;
}

.empresas-passadas h4 {
    text-align: center;
    padding-bottom: 5px;
}

.description_special_li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-projects {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
}

#projetos {
    padding: 3rem;
}

.projects {
    background-image: url('../imgs/projects-bg.svg');
    background-position: center center;
    background-size: cover;
}

.project {
    padding: 3rem;
    border: 1px transparent;
    border-radius: 1em ;
    margin: 1rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0, 1);
    transition: all 150ms;
}

.project-star {
    border: 3px yellow solid;
}

.project:hover {
    background-color: #e9efff;
}

.project h2 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 30px;
    text-decoration: underline;
}

.project .description {
    padding-bottom: 0.5rem;
}

.project ul {
    padding-left: 3rem;   
    padding-bottom: 0.5rem;   
}

.project ul h4 {
    padding: 0.5rem 0;
}

.link-project {
    font-weight: bold;
}

.link-project a {
    text-decoration: none;
}

.data-criacao {
    padding: 0.3rem 0;
}

.contacts {
    background-image: url('../imgs/contacts-bg.svg');
    background-position: center center;
    background-size: cover;
}

.grid-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contact a {
    display: flex;
    flex-direction: row;
    text-align: right;
    align-items: center;
    padding: 2rem;
    background-color: #c7c7c7;
    margin: 1rem;
    text-decoration: none;
    color: var(--default-black);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px rgb(46, 46, 46);
    transition: all 200ms ease-out;
}

.contact a:hover {
    transform: scale(1.1);
}

.contact img {
    max-width: 30px;
    max-height: 30px;
    padding-right: 8px;
    width: 30px auto;
}

.rodape {
    font-family: 'Inter';
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    background: var(--background-header);
    color: var(--default-white);
    gap: 30px;
}

.direitos {
    font-size: 20px;
}

.agradecimento a {
    color: #69a1da;
}

.rodape h4 {
    font-size: 25px;
    padding-bottom: 8px;
}

.rodape p {
    padding-bottom: 1rem;
}

.links-footer ul {
    list-style: none;
}

.links-footer li {
    padding: 5px 0;
}

.link-foot {
    color: white;
    text-decoration: none;
}

.email-footer {
    color: #69a1da;
}

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-content h2, h3 {
    display: inline;
}

.modal-content h3 {
    padding-left: 10px;
}

.modal-content p {
    padding: 0.5rem 0;
    font-size: 20px;
}

.modal-content span {
    font-size: 20px;
    font-weight: bold;
}

.modal-content img {
    max-width: 35vw;
    display: block;
}

.close {
    color: rgb(255, 143, 123);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }