@import url(carrocel.css);
@import url(responsividade-style_temporario.css);

:root {
    --color-background-body: #fff;
    --default-white: #fff;
    --background-header: linear-gradient(to left, rgb(183, 214, 204) 0%, rgba(62,94,221,1) 45%, rgba(0,0,0,1) 100%);
    --color-backgound-sections: #e2eefa;
    /* vars */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-background-body);
}

body {
    font-family: sans-serif;
}

.header-top {
    background: var(--background-header);
    color: var(--default-white);
    padding: 3rem 0 3rem 3rem;
    width: 100%;
    height: 10rem;
    text-align: left;
    top: 0;
    left: 0;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

.links {
    text-decoration: none;
    padding: 1em;
    color: var(--default-white);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.back-to-top p {
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}


.back-to-top img {
    width: 8vw;
}

.home {
    display: flex;
    height: 100%;
    width: 100%;
    background: var(--color-backgound-sections);
    padding: 1rem 0 0 1rem;
}

.home h2 {
    position: absolute;
    text-align: left;
}

.home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.home p, a {
    padding: 1rem;
}

.home a {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.2rem;
    transition: all 200ms ease-in-out;
}

.home a:hover {
    background-color: #4E65FF;
}

.minha-foto {
    display: flex;
    flex: 0 1px;
    width: 300px;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 3rem 0;
    background: var(--color-backgound-sections);
    margin: 1rem 0;
}

.title-section-sobre {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    width: 30vw;
    padding: 10px;
    background-color: rgb(177, 177, 177);
    border: 2px solid black;
    border-radius: 10px;
    text-overflow: ".";
}

.grid-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.dados-pessoais, .cursos, .formacoes, .one-more {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    width: 35vw;
    margin: 1rem;
    padding: 1rem;
    border: 1px  black;
    border-radius: 10px;
    background-color: #989898;
    font-size: 1.5rem;
}

.dados-pessoais h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.dados-pessoais ul {
    list-style: none;
}

.dados-pessoais mark {
    background-color: #989898;
    font-weight: bold;
}

.formacoes h3 {
    text-align: center;
    padding-bottom: 1rem;
}

.cursos {
    width: 80vw;
}

.cursos h3 {
    text-align: center;
    padding-bottom: 1rem;    
}

.grid-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 30px
}

.grid-courses p {
    padding-bottom: 10px;
}

.lista-de-formacoes {
    list-style: "→" ;
    padding-left: 15px;
}

.one-more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 20px;
    width: 80vw;
}

.one-more h3 {
    padding-bottom: 1rem;
}

.one-more p {
    padding-bottom: 5px;
}