.header {
  background-color: var(--gray-900);
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 7rem;
  padding: 3rem;
  border-radius: 1.5rem;
}

.item {
  font-size: 3.4rem;
}

.item svg {
  width: 3.4rem;
  height: 3.4rem;
}

.name {
  font-weight: bold;
}

.ancor {
  color: var(--text-default);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.ancor:hover {
  filter: brightness(50%);
  color: var(--text-default);
}
