.contact {
  width: 100%;
  font-size: 2.2rem;
}

.contact img {
  margin: 0 0.5rem;
  vertical-align: top;
  width: 3rem;
  height: 3rem;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  width: 80vw;
  margin: 100px auto;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  display: flex;
}

.modal-content img {
  height: 45vw;
}

.download-session {
  width: 100%;
  text-align: center;
  color: var(--primary-dark);
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.close-button {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  color: red;
  width: 5rem;
  height: 5rem;
}

.download-session a {
  background-color: rgb(198, 56, 56);
  padding: 1rem 8rem;
  margin: 1rem auto;
  border-radius: 0.8rem;
  color: white;
}

@media (max-width: 500px) {
  .contact {
    margin: 0.8rem 0;
    font-size: 1.5rem;
  }

  .contact img {
    vertical-align: middle;
    width: 2.3rem;
    height: 2.3rem;
    margin-right: 1rem;
  }

  .modal-content {
    width: 90vw;
    flex-direction: column;
  }

  .modal-content img {
    height: 80%;
  }
}
