.container {
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 90%;
  margin: 5rem auto;
}

.gridProjects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  width: 80%;
  text-align: center;
  justify-items: center;
}

.projectItem {
  width: 20rem;
  background-color: var(--gray-900);
  border-top: 0.6rem solid var(--info);
  border-left: 0.1rem solid var(--info);
  border-right: 0.1rem solid var(--info);
  border-bottom: 0.1rem solid var(--info);
  border-radius: 1rem 1rem 0.3rem 0.3rem;
}

.paused {
  border-top: 0.6rem solid var(--warning);
  border-left: 0.1rem solid var(--warning);
  border-right: 0.1rem solid var(--warning);
  border-bottom: 0.1rem solid var(--warning);
}

.completed {
  border-top: 0.6rem solid var(--success);
  border-left: 0.1rem solid var(--success);
  border-right: 0.1rem solid var(--success);
  border-bottom: 0.1rem solid var(--success);
}

.development {
  border-top: 0.6rem solid #63f5e6;
  border-left: 0.1rem solid #63f5e6;
  border-right: 0.1rem solid #63f5e6;
  border-bottom: 0.1rem solid #63f5e6;
}

.projectItem img {
  width: 100%;
  height: 50%;
}

.projectItem div {
  margin: 2rem auto;
}

.projectItem div p {
  margin: 0.5rem 0 1.2rem 0;
}

.projectItem button,
.projectItem button a {
  background-color: var(--primary-light);
  border: none;
  color: var(--text-over-primary-dark);
  padding: 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.projectItem button:hover {
  filter: brightness(90%);
}

.titleSect {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 55%;
  margin: 1.2rem auto;
  justify-content: center;
}

.responsiveAlign {
  text-align: right;
}

@media (max-width: 500px) {
  .titleSect {
    font-size: 1.6rem;
    width: 80%;
  }

  .gridProjects {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .responsiveAlign {
    text-align: left;
  }
}
